---
layout: default
---
<article>

  <header>
    <h1>{{ page.title | escape }}</h1>
    {%- if page.date -%}
    <p class="text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • {{ page.author }}
      {%- endif -%}
    </p>
    {%- endif -%}
  </header>

  <section>
    {{ content }}
  </section>

  <footer class="mt-4 pt-3 border-top">
    <p class="text-muted small">
      <span id="busuanzi_container_page_pv">
        <span id="busuanzi_value_page_pv"></span> views
      </span>
    </p>
  </footer>

</article>

